<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Epam_ComputerGames::games_list" title="PC Games"
             module="Epam_ComputerGames"
             parent="Magento_Catalog::catalog" resource="Epam_ComputerGames::grid"
             sortOrder="0" action="games/game/index"/>
    </menu>
</config>
